{% extends 'base.html' %}
{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h1>all upcoming events</h1>
                {% for event in events %}
                    <div id="eventbox">
                        <img src="static/images/{{ event.image }}" id="event-image">

                        <h2 class="eventquestion">WHAT?</h2>
                        <h2> {{ event.name }}</h2>
                        <h2 class="eventquestion">WHEN?</h2>
                        <h2> {{ event.date }}</h2>
                        <h2 class="eventquestion">WHERE?</h2>
                        <h2> {{ event.location }}</h2>
                        <h2 class="eventquestion">HOW?</h2>
                        <p>{{ event.description }}</p>
                        <a  class='ticketbutton' href="/tickets/{{ event.id }}">Get tickets to {{ event.name }} </a>

                    </div>
                    <br>
                {% endfor %}
                <h1>past events</h1>
            </div>

        </div>

    </div>
{% endblock %}
