{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
 details here pulled through from last page...
                last stage here!
                <br>

                <h2>Purchase your ticket</h2>
<form action="{% url 'mainsite:charge' %}" method="post">
  {% csrf_token %}
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ key }}"
          data-description="an event payed..."
          data-amount="2000"
          data-locale="auto"></script>
</form>
               </div>
            <div class="col-1">
            </div>
        </div>
    </div>
{% endblock %}