{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <h1>What people thought</h1>
                Oran:
                <h3>
                    "very professional, well spoken and has a lot to teach."</h3>
                Ron:
                <h3> "I've been at the speedate event, and it was awesome.
                    Oz is a kind person which it has been a pleasure to be hosted and guided by him.
                    And yes, I've been out with a date.
                    5/5!"
                </h3>
                Sandipan:
                <h3> "Had a super fun evening with Oz at his rooftop pairing session. Highly recommended!"</h3>

                Lola:
                <h3> "An amazing artist, professional, knowledgeable and talented. His art is the reflection of his patient personality, intelligent look and sensitive soul. I highly recommend him!"</h3>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
{% endblock %}