{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
        <h1>sorry but this event is full! We would
            love for you to join us though so take a
            look at all of our upcoming events!</h1>

                      <a href="{% url 'mainsite:events' %}">See other events</a>

               </div>
            <div class="col-1">
            </div>
        </div>
    </div>
{% endblock %}