{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <br>
                {{ event_name }}
                {{ event_date }}
                {{ event_location }}

                event pricing----->{{ event_price }}NIS
                        <img src="static/images/{{ event.image }}">
        <h1>fill out some quick info before you pay so we can give you the best experience at our event!</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <input type="submit" value="Submit" class="customfoodaddbutton" onclick="document.getElementsByClassName('stripe-button-el')[0].click()">
                </form>
                <br>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>



{% endblock %}