{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <br>
                <p>Sign up for {{ event_name }} on {{ event_date }} at {{ event_location }}
                    for {{ event_price }}NIS</p>
        <h1 class="filloutdetails">fill out some quick info before you pay so we can give you the best experience at our event! Click submit to go to our pay page</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <input type="submit" value="Submit" class="customfoodaddbutton" onclick="document.getElementsByClassName('stripe-button-el')[0].click()">
                </form>
                <br>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>



{% endblock %}